.header {
  &__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;

    @include mobile {
      &--opened {
        display: block;
      }

      &--closed {
        display: none;
      }
    }

    @include tablet {
      flex-direction: row;
      justify-content: space-between;


      &-sub {
        justify-content: start;
      }

      &-sub, &--info {
        border: none;
      }
    }

    @include desktop {
      margin-left: 0;
      margin-right: 0;
    }

    &-sub {
      border: none;

      & .header__title--catalog, & .header__title--order {
        @include tablet {
          display: block;
        }

        @include desktop {
          display: none;
        }
      }
    }

    @include desktop {
      &-shop {
        display: flex;
        padding: 0;
        border: none;
      }

      &--info {
        justify-content: space-between;
        width: 100%;
        border: none;
      }
    }
  }

  &__title {
    margin: auto 20px;

    @include mobile {
      margin: auto -20px;
    }

    & a {
      display: block;
      padding: 12px 21px 10px;
      font-size: 18px;
      border-bottom: 2px #ececec solid;
      font-weight: bold;

      @include tablet {
        border-bottom: none;
      }
    }

    &--catalog, &--order, &--new, &--sale {
      @include tablet {
        display: none;
      }

      @include desktop {
        display: block;
      }
    }

    &--logo {
      @include mobile {
        display: none;
      }
      @include tablet {
        display: block;
      }
      @include desktop {
        margin-left: -10px;
      }
    }

    &--catalog {
      @include desktop {
        border-right: 2px #ececec solid;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 20px;
      }
    }

    &--search {
      position: relative;
      padding: 0 20px;

      &:after {
        content: "";
        position: absolute;
        @include png-sprite($icon-search);
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        @include tablet {
          transform: translate(-51%, -50%);
        }
      }

      @include tablet {
        & a {
          font-size: 0;
          padding-bottom: 30px;
        }
        border-left: 2px #ececec solid;
        border-right: 2px #ececec solid;
        margin: 0 0 0 200px;
      }

      @include desktop {
        margin: 0 0 0;

      }
    }

    &--delivery a {
      font-weight: 400;
    }

    &--order {
      @include tablet {
        margin-left: 30px;
      }
      @include desktop {
        margin-left: -10px;
      }
    }

    &--basket {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        @include png-sprite($icon-cart);
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
      }

      @include tablet {
        padding-left: 80px;
      }
    }
  }

  &__nav {
    &--main {
      border-bottom: 2px #ececec solid;
    }

    &--mobile {
      position: relative;
      margin: 20px 0;
      display: flex;
      justify-content: center;

      @include tablet {
        display: none;
      }
    }

    &-sub {
      @include mobile {
        display: none;
      }
      @include tablet {
        display: flex;
        justify-content: space-between;
      }

      &__wrap {
        background-color: #fafafa;

        &--catalog {
          background-color: #f1f1f1;
        }
      }
      &--index {
        background-color: #fafafa;
      }

      &--catalog {
        background-color: #f1f1f1;
      }
    }
  }

  &__toggle {
    position: absolute;
    right: 0;
    top: 30px;
    transform: translateX(-100%);
    margin: 0;
    border-radius: 0;
    font-size: 0;
    cursor: pointer;
    @include png-sprite($icon-menu);
    border: none;

    &--cross {
      @include png-sprite($icon-menu-close);
    }

    @include tablet {
      display: none;
    }
  }
}