.header {
  border-top: 1px #ececec solid;

  @include tablet {
    border-bottom: 1px solid #ececec;
  }

  @include tablet {
    border-bottom: 1px #ececec solid;
  }

  &-wrap {
    position: relative;
    flex-direction: column;
    background-color: #fff;
    max-width: 1150px;
    margin: 0 auto;

    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      border-top: none;
      min-height: 90px;
    }

  }

  &__logo {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    font-size: 0;
    text-align: center;
    min-height: 78px;
    width: 100%;

    @include tablet {
      position: absolute;
      z-index: 5;
      top: 22px;
      border-bottom: none;
      width: auto;
      display: block;
      left: 7%;
    }

  }    
}

.main-nav {
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;

  &--closed {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ececec;

    @include tablet {
      border: none;
    }

  }

  &--opened {
    display: block;
  }

  &__toggle {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
    font-size: 0;
    border: 0;
    outline: 0;
    background-color: #fff;

    @include tablet {
      display: none;
    }

    &--closed:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 2px;
      background-color: #000;
      box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000;
    }

    &--opened:before, &--opened:after {
      content: "";
      position: absolute;
      top: 5px;
      right: 0;
      width: 22px;
      height: 2px;
      background-color: #000000;
    }

    &--opened:before {
      transform: rotate(45deg);
    }

    &--opened:after {
      transform: rotate(-45deg);
    }
  }
  
  &__list {
    padding: 0;
    margin: 0;
    background-color: #fff;

    @include tablet {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 100%;
      left: 50px;
      background-color: transparent;
      z-index: 10;
    }

  }

  &__link {
    display: block;
    padding: 30px 30px;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    position: relative;

    &--search {
      &:after {
        content: "";
        position: absolute;
        @include png-sprite($icon-search);
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        @include tablet {
          transform: translate(170%,-50%);
        }

      }

      @include tablet {
        font-size: 0;
        width: 82px;
        border-left: 1px #ececec solid;
        padding: 32px 0;
      }
    }

    &--basket {
      &:after {
        content: "";
        position: absolute;
        @include png-sprite($icon-cart);
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        @include tablet {
          transform: translate(100%, -50%);
        }

      }

      @include tablet {
        padding: 32px 50px 32px 83px;
        border-left: 1px #ececec solid;
        width: 182px;
      }
    }

    &--catalog, &--form {
      @include tablet {
        font-size: 15px;
        line-height: 24px;
        padding: 18px 0;
        width: 170px;
      }
    }

  }

  &__user-list {
    background-color: #fff;
    padding: 0;
    margin: 0;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

  }

}