<div class="container">
    <section class="catalog__video">
        <div class="video-youtube video-youtube__overlay">
            <div id="video-youtube__content" class="video-youtube__content video-youtube__content-btn"></div>
            <button type="button" class="video-youtube__new-play-btn"></button>
        </div>
        <div class="catalog__video-description">
            <h4>{{ title }}</h4>
            <p>{{ description }}</p>
            <form class="catalog__form">
                <input type="button" class="catalog__btn btn open-modal" value="{{ input_value }}">
            </form>
        </div>
    </section>
</div>