<section class="hero">
    <div class="hero__wrap hero__wrap--index">
        <ul class="hero__nav">
            <li class="hero__nav-item hero__nav-item--catalog">
                <a href="#" class="hero__nav-link">Новые поступления </a>
            </li>
            <li class="hero__nav-item hero__nav-item--sale">
                <a href="#" class="hero__nav-link">Распродажа</a>
            </li>
            <li class="content__nav-item hero__nav-item--delivery">
                <span class="hero__nav-delivery">Бесплатная доставка по России</span>
            </li>
        </ul>
        <h2 class="hero__title">Милые штуки ручной работы для дома</h2>
        <div class="hero__type">
            <a href="#" class="hero__item hero__item--interior">
                Предметы <br> интерьера
            </a>
            <a href="#" class="hero__item hero__item--toys">
                Детские <br> игрушки
            </a>
        </div>
    </div>
</section>