<section class="cooperation">
    <div class="cooperation__wrap">
        <div class="container">
            <div class="cooperation__inner">
                <h2 class="cooperation__title">Контакты</h2>
                <div class="cooperation__info">
                    <div class="cooperation__mail">
                        <p>e-mail:</p>
                        <a href="#">info@mimimishkashop.ru</a>
                    </div>
                    <div class="cooperation__address">
                        <p>Адрес:</p>
                        <address>г.Санкт-Петербург, ул.Большая Конюшенная, д. 19/8, офис 101</address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cooperation__map" id="map">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3c80899cb7b8347d15ee8a216ebab2d39b49b4b6a5180ef7fcefa1043848b563&amp;width=100%25&amp;height=418&amp;lang=ru_RU&amp;scroll=true"></script>
        <form class="cooperation__form">
            <a href="feedback.html">
                <input class="btn" type="button" value="Напишите нам">
            </a>
        </form>
    </div>

    <div class="container">
        <div class="cooperation__wrap-desktop">
            <div class="cooperation__inner-desktop">
                <h2 class="cooperation__title">Контакты</h2>
                <div class="cooperation__info">
                    <div class="cooperation__mail">
                        <p>e-mail:</p>
                        <a href="#">info@mimimishkashop.ru</a>
                    </div>
                    <div class="cooperation__address">
                        <p>Адрес:</p>
                        <address>г.Санкт-Петербург, ул.Большая Конюшенная, д. 19/8, офис 101</address>
                    </div>
                </div>
                <form class="cooperation__form">
                    <a href="feedback.html">
                        <input class="btn" type="button" value="Напишите нам">
                    </a>
                </form>
            </div>
            <div class="cooperation__map-desktop">
                <script type="text/javascript" charset="utf-8" async
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3c80899cb7b8347d15ee8a216ebab2d39b49b4b6a5180ef7fcefa1043848b563&amp;width=100%25&amp;height=418&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
        </div>
    </div>
</section>