<section class="reviews">
    <div class="container">
        <div class="reviews__wrapper">
            <h3>Отзывы</h3>
            <form class="reviews__form">
                <input class="reviews__btn btn" type="button" value="Написать">
            </form>
            <div class="reviews__slider">
                <div class="reviews__slide">
                    <blockquote class="reviews__item">Я молодая мама, но всё равно фотографии не набирали и близко
                        такого количества лайков,<br>
                        как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке,<br>
                        и мои фотографии сразу стали более стильными, а также набирают больше лайков!
                    </blockquote>
                    <h5 class="reviews__author">Анастасия Красильникова</h5>
                    <span class="reviews__social-link">@misssssiskras</span>
                </div>
                <div class="reviews__slide">
                    <blockquote class="reviews__item">Я молодая мама, но всё равно фотографии не набирали и близко
                        такого количества лайков,<br>
                        как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке,<br>
                        и мои фотографии сразу стали более стильными, а также набирают больше лайков!
                    </blockquote>
                    <h5 class="reviews__author">Анастасия Красильникова2</h5>
                    <span class="reviews__social-link">@misssssiskras2</span>
                </div>
            </div>

        </div>
    </div>
</section>