.catalog {
  &__video {
    margin-top: 40px;
    align-items: center;
    height: 455px;
    padding-bottom: 105px;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: column;
      height: auto;
      align-items: center;
      width: 668px;
      margin: 0 auto;
    }

    @include desktop {
      flex-direction: row;
      width: 100%;
    }

    &-description {
      border: 1px solid #e7e7e7;
      padding: 0 28px 0 28px;
      display: flex;
      flex-direction: column;

      @include tablet {
        padding: 0 41px;
        padding-bottom: 45px;
        border-top: none;
        width: 90%;
      }

      @include desktop {
        border-top: 1px solid #e7e7e7;
        padding: 30px 56px 30px 80px;
        flex: 1;
      }

      h4 {
        position: relative;
        font-size: 17px;
        padding-bottom: 250px;
        padding-left: 50px;
        top: 33px;
        left: 0;
        margin: 0;

        @include tablet {
          padding-top: 100px;
          padding-bottom: 43px;
          padding-left: 0;
        }

        &:before {
          position: absolute;
          @include png-sprite($icon-camera);
          content: "";
          left: 6px;
          @include tablet {
            top: 20px;
          }
        }

        @include desktop {
          font-size: 20px;
          padding-top: 66px;
          padding-bottom: 80px;
        }
      }

      p {
        font-size: 13px;
        width: 100%;
        padding-bottom: 30px;
        line-height: 30px;
        margin: 0;

        @include tablet {
          width: 100%;
          padding-bottom: 51px;
        }
        @include desktop {
          font-size: 15px;
        }
      }
    }
  }

  &__btn {
    padding: 15px 24px;
    width: 100%;
    margin-bottom: 20px;

    @include desktop {
      width: 80%;
      padding: 15px 42px 15px 52px;
      margin-bottom: 20px;
    }
  }
}

.video-youtube {
  position: absolute;
  width: 260px;
  height: 150px;
  margin-top: 95px;
  background: url("../../images/big_img/bg-play.jpg") no-repeat;
  @include tablet {
    position: relative;
    width: 682px;
    height: 455px;
    background: url("../../images/big_img/bg-play.jpg") no-repeat;
    margin-top: 0;
  }
}

.video-youtube__overlay:before {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  width: 682px;
  display: block;
  z-index: 5;
}

.video-youtube__content-btn {
  width: 10000%;
  height: 10000%;
  transform: scale(0.01);
  transform-origin: top left;
  display: block;
}

.video-youtube__new-play-btn {
  max-width: 153px;
  max-height: 153px;
  width: 100px;
  height: 78px;
  border: none;
  background-color: transparent;
  background-image: url(../../images/png_icon/play.png);
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
  transition: 0.4s;
}

