.hero {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  @include tablet {
    padding-bottom: 100px;
  }

  &--index {
    background-color: #fafafa;

    .hero__wrap {
      background: url("../images/big_img/hero-mobile.jpg") no-repeat top;
      min-height: 480px;

      @include tablet {
        background: url("../images/big_img/hero-desktop.jpg") no-repeat center;
        min-height: 600px;
      }
    }

    .hero__categories {
      margin-right: -20px;
      margin-left: -20px;

      @include tablet {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &--catalog {
    background-color: #f1f1f1;

    .hero__categories {
      display: none;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  &__heading {
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
    @include tablet {
      h1 {
        font-size: 51px;
        line-height: 60px;
      }
    }
  }

  &__title {
    cursor: pointer;
    display: block;
    &--interior {
      background-color: #63d1bb;
      position: relative;

      @include tablet {
        width: 100%;
      }

      &:after {
        content: "";
        position: absolute;
        right: 0;
        @include png-sprite($icon-interior);
        top: 50%;
        transform: translate(-70%, -50%);
      }
    }

    &--toys {
      background-color: #56c3b2;
      position: relative;
      @include tablet {
        width: 100%;
      }

      &:after {
        content: "";
        position: absolute;
        right: 0;
        @include png-sprite($icon-toy);
        top: 50%;
        transform: translate(-30%, -50%);
      }
    }

    p {
      padding: 20px 0;
      text-align: left;
      margin: 0 0 0 20px;
      width: 100px;
      font-size: 13px;

      color: #ffffff;

      @include tablet {
        padding: 30px 0;
        font-size: 18px;
      }
    }
  }
}