$icon-arrow-slider: 209px 29px -209px -29px 50px 26px 1050px 166px 'sprite.png';
$icon-camera: 292px 29px -292px -29px 32px 22px 1050px 166px 'sprite.png';
$icon-cart: 401px 29px -401px -29px 21px 18px 1050px 166px 'sprite.png';
$icon-check: 259px 29px -259px -29px 33px 22px 1050px 166px 'sprite.png';
$icon-email: 324px 29px -324px -29px 32px 21px 1050px 166px 'sprite.png';
$icon-fb: 40px 104px -40px -104px 15px 29px 1050px 166px 'sprite.png';
$icon-flag: 0px 23px 0px -23px 47px 81px 1050px 166px 'sprite.png';
$icon-insta: 132px 57px -132px -57px 22px 21px 1050px 166px 'sprite.png';
$icon-interior: 0px 104px 0px -104px 40px 62px 1050px 166px 'sprite.png';
$icon-logo-footer: 107px 23px -107px -23px 102px 34px 1050px 166px 'sprite.png';
$icon-menu-close: 380px 29px -380px -29px 21px 20px 1050px 166px 'sprite.png';
$icon-menu: 422px 29px -422px -29px 20px 14px 1050px 166px 'sprite.png';
$icon-phone: 107px 57px -107px -57px 25px 24px 1050px 166px 'sprite.png';
$icon-product-bottom: 0px 0px 0px 0px 1050px 23px 1050px 166px 'sprite.png';
$icon-product-mobile: 209px 23px -209px -23px 319px 6px 1050px 166px 'sprite.png';
$icon-search: 154px 57px -154px -57px 18px 19px 1050px 166px 'sprite.png';
$icon-toy: 47px 23px -47px -23px 60px 60px 1050px 166px 'sprite.png';
$icon-twitter: 356px 29px -356px -29px 24px 20px 1050px 166px 'sprite.png';
