$icon-arrow-slider: 263px 29px -263px -29px 50px 26px 1050px 182px 'sprite.png';
$icon-camera: 346px 29px -346px -29px 32px 22px 1050px 182px 'sprite.png';
$icon-cart: 455px 29px -455px -29px 21px 18px 1050px 182px 'sprite.png';
$icon-check: 313px 29px -313px -29px 33px 22px 1050px 182px 'sprite.png';
$icon-email: 378px 29px -378px -29px 32px 21px 1050px 182px 'sprite.png';
$icon-fb: 87px 101px -87px -101px 15px 29px 1050px 182px 'sprite.png';
$icon-flag: 0px 101px 0px -101px 47px 81px 1050px 182px 'sprite.png';
$icon-insta: 186px 57px -186px -57px 22px 21px 1050px 182px 'sprite.png';
$icon-interior: 47px 101px -47px -101px 40px 62px 1050px 182px 'sprite.png';
$icon-logo-footer: 161px 23px -161px -23px 102px 34px 1050px 182px 'sprite.png';
$icon-menu-close: 434px 29px -434px -29px 21px 20px 1050px 182px 'sprite.png';
$icon-menu: 476px 29px -476px -29px 20px 14px 1050px 182px 'sprite.png';
$icon-phone: 161px 57px -161px -57px 25px 24px 1050px 182px 'sprite.png';
$icon-play: 0px 23px 0px -23px 101px 78px 1050px 182px 'sprite.png';
$icon-product-bottom: 0px 0px 0px 0px 1050px 23px 1050px 182px 'sprite.png';
$icon-product-mobile: 263px 23px -263px -23px 319px 6px 1050px 182px 'sprite.png';
$icon-search: 208px 57px -208px -57px 18px 19px 1050px 182px 'sprite.png';
$icon-toy: 101px 23px -101px -23px 60px 60px 1050px 182px 'sprite.png';
$icon-twitter: 410px 29px -410px -29px 24px 20px 1050px 182px 'sprite.png';
