$icon-arrow-slider: 162px 29px -162px -29px 50px 26px 1050px 145px 'sprite.png';
$icon-cart: 257px 29px -257px -29px 21px 18px 1050px 145px 'sprite.png';
$icon-fb: 40px 83px -40px -83px 15px 29px 1050px 145px 'sprite.png';
$icon-insta: 60px 57px -60px -57px 22px 21px 1050px 145px 'sprite.png';
$icon-interior: 0px 83px 0px -83px 40px 62px 1050px 145px 'sprite.png';
$icon-logo-footer: 60px 23px -60px -23px 102px 34px 1050px 145px 'sprite.png';
$icon-menu-close: 236px 29px -236px -29px 21px 20px 1050px 145px 'sprite.png';
$icon-menu: 278px 29px -278px -29px 20px 14px 1050px 145px 'sprite.png';
$icon-product-bottom: 0px 0px 0px 0px 1050px 23px 1050px 145px 'sprite.png';
$icon-product-mobile: 162px 23px -162px -23px 319px 6px 1050px 145px 'sprite.png';
$icon-search: 82px 57px -82px -57px 18px 19px 1050px 145px 'sprite.png';
$icon-toy: 0px 23px 0px -23px 60px 60px 1050px 145px 'sprite.png';
$icon-twitter: 212px 29px -212px -29px 24px 20px 1050px 145px 'sprite.png';
