@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: "OpenSans";
  font-style: normal;
  src: url('../fonts/OpenSans-Bold.ttf');
}
