<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
<div class="wrap">
        {% block body %}

        {% endblock %}
    {% include 'footer.twig' %}
    {% include 'modal.twig' %}
</div>
{% block scripts %}
    <script>
        var navMain = document.querySelector('.header__list--closed');
        var navToggle = document.querySelector('.header__toggle');
        var navTogglebtn = document.querySelector('.header__toggle');


        navToggle.addEventListener('click', function () {
            if (navMain.classList.contains('header__list--closed')) {
                navMain.classList.remove('header__list--closed');
                navMain.classList.add('header__list--opened');
                navTogglebtn.classList.add('header__nav__toggle--cross');
            } else {
                navMain.classList.add('header__list--closed');
                navMain.classList.remove('header__list--opened');
                navTogglebtn.classList.add('header__nav__toggle');
                navTogglebtn.classList.remove('header__nav__toggle--cross');
            }
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/libraries.js"></script>
    <script type="text/javascript" src="/js/libs/slick.min.js"></script>
    <script type="text/javascript" src="/js/js.js"></script>
    <script type="text/javascript" src="/js/modal.js"></script>
    <script type="text/javascript" src="js/video.js"></script>
{% endblock %}
</body>
</html>