<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__block footer__block--logo">
                <a href="index.html" class="name"></a>
            </div>
            <div class="footer__block footer__block--social">
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="#" class="social-list__link social-list__link--vk"></a>
                    </li>
                    <li class="social-list__item">
                        <a href="#" class="social-list__link social-list__link--inst"></a>
                    </li>
                    <li class="social-list__item">
                        <a href="#" class="social-list__link social-list__link--fb"></a>
                    </li>
                </ul>
            </div>
            <div class="footer__block footer__block--god">
                <h2 class="god__name">Лишай Матвей</h2>
            </div>
        </div>
    </div>
</footer>