<header class="header">
    <div class="container">
        <div class="menu__button">
            <button class="js-menu-toggle"></button>
        </div>
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#" class="menu__link js-scroll">Каталог товаров</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link js-scroll">Вязание на заказ</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link js-scroll">Будет картинка</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link js-scroll"><span class="show-mobile">Поиск по сайту</span></a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link js-scroll">Корзина:<span class="basket-info">пока пуста</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>