<header class="header">
    <div class="container">
        <nav class="header__nav">
            <div class="header__nav header__nav-main">
                {% include 'components/img.twig' with {
                    'title': 'Mishka-mobile',
                    'img_class' : 'header__logo-mobile',
                    'src' : '/images/iconic/logo-mobile.svg',
                } %}
            </div>
        </nav>
    </div>
</header>