<header class="header container">
<nav class="header__nav">
    <ul class="header__nav-list">
        <li class="header__nav-item"><a href="#">Каталог товаров</a></li>
        <li class="header__nav-item"><a href="#">Вязание на заказ</a></li>
        <li class="header__nav-item"><a href="#"></a></li>
        <li class="header__nav-item"><a href="#"><span class="show-mobile">Поиск по сайту</span></a></li>
        <li class="header__nav-item"><a href="#">Корзина:<span>пока пуста</span></a></li>
    </ul>
</nav>
</header>