<div class="modal">
    <div class="modal__wrp">
        <button class="modal__close" type="button" title="Закрыть">закрыть</button>
        <form action="#" class="modal__form" method="post">
            <h2>Добавить в корзину</h2>
            <p>Выберите размер:</p>
            <div class="modal__choice">
                <input type="radio" class="modal__radio" checked="" value="s" name="size" id="size-s">
                <label for="size-s" class="modal__label">S</label>
                <input type="radio" class="modal__radio" value="m" name="size" id="size-m">
                <label for="size-m" class="modal__label">M</label>
                <input type="radio" class="modal__radio" value="l" name="size" id="size-l">
                <label for="size-l" class="modal__label">L</label>
            </div>
            <button class="modal__button btn" type="submit">Добавить</button>
        </form>
    </div>
</div>